{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
<h1 class="mt-4">formulaire de modification des information a l'utilisateur </h1>
    {% for message in app.flashes('warning') %}
    <div class=" alert alert-warning">
        {{ message }}
    </div>
{% endfor %}





    {{form(form)}}
</div>
{% endblock %}
